<!doctype html>
<html>
<head>
    <title>Data</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready( function () {
        $('#dataTable')
            .addClass( 'nowrap' )
            .dataTable( {
                columnDefs: [
                    { targets: [-1, -3], className: 'dt-body-right' }
                ]
            } );
      } );
   </script>
    
</head>
<body>
    <table id="dataTable">
      <thead>
        <tr>
          <th>Fighter</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Matches</th>
          <th>Tournament Wins</th>
          <th>Tournament Losses</th>
          <th>Tournament Matches</th>
          <th>Tournament Final Wins</th>
          <th>Favor</th>
        </tr>
      </thead>
      <tbody>
        <% data.data.forEach(result=>{ %>
          <tr>
            <td> <%= result.name %> </td>
            <td> <%= result.wins %> </td>
            <td> <%= result.losses %> </td>
            <td> <%= result.matches %> </td>
            <td> <%= result.tournamentMatchWins %> </td>
            <td> <%= result.tournamentMatchLosses %> </td>
            <td> <%= result.tournamentMatches %> </td>
            <td> <%= result.tournamentFinalWins %> </td>
            <td> <%= result.favor %> </td>
            <% }); %>
          </tr>
      </tbody>
      </table>
</body>
</html>